<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать модификатор</title>
    <link rel="stylesheet" href="/static/css/CreatePages/main_create_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
{% include 'header.html' %}
<body>
<div class="create_main_div">
    <div class="create_race_div">
        <div class="strelka_div">
            {% include 'svg/strelka.html' %}
        </div>
        <div class="create_div">
            <div class="head_div">
                <h2>Карта Модификатора</h2>
            </div>
            <div class="create_input_div">
                <h3>Название модификатора</h3>
                <label>
                <input type="text" placeholder="Подарок">
                    </label>
            </div>
            <div class="create_count_div">
                <h3>Количество бонусов</h3>
                <div class="count_div">
                    <button type="button" class="minus1">-</button>
                    <p class="counter1">0</p>
                    <button type="button" class="plus1">+</button>
                </div>
            </div>
            <div class="create_count_div">
                <h3>Количество сокровищ</h3>
                <div class="count_div">
                    <button type="button" class="minus2">-</button>
                    <p class="counter2">0</p>
                    <button type="button" class="plus2">+</button>
                </div>
            </div>
            <div class="create_textarea_div">
                <h3>Описание</h3>
                <label>
                <textarea placeholder="Нужно больше модификаторов!"></textarea>
                </label>
            </div>
            <div class="create_button_div">
                <button>Создать</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/ModifierCounter.js"></script>
</body>
{% include 'footer.html' %}
</html>