footer {
    /* Rectangle 49 */

position: absolute;
height: 171px;
    width: 100%;
left: 0px;
right: 0px;
top: 1803.06px;

background: #351A17;

}


.footer_text {
    position: absolute;
    width: 100px;
    height: 24px;
    left: calc(50% - 50px);
    top: calc(171px / 2 - 12px);
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    color: #F3E8D5;
}
