<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
{% include 'header.html' %}
<body>
<div>
    <img src="/static/img/manchkin.png" class="manchkin_img">
</div>
<div class="main_div">
<h2 class="enter_text">Вход</h2>
    <div class="input_div">
        <label>
            <input type="text" class="input_rec" placeholder="Логин">
            <input type="password" class="input_rec_2" placeholder="Пароль">
        </label>
        <button class="reg_button">Войти</button>
    </div>
    <div>
        <a href="/login" class="to_reg_text">Зарегистрироваться</a>
    </div>
</div>
</body>
{% include 'footer.html' %}
</html>