<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<header>
    {% include 'header.html' %}
</header>
<body>
<div>
    <img src="/static/img/manchkin.png" class="manchkin_img">
</div>
<div class="main_div">
    <h2 class="reg_text">Регистрация</h2>
    <form id="RegisterForm">
        <div class="input_div">
            <label>
                <input type="text" class="input_rec" placeholder="Логин" id="login" required>
                <input type="password" class="input_rec_2" placeholder="Пароль" id="password" required>
            </label>
            <button type="submit" class="reg_button">Зарегистрироваться</button>
        </div>
    </form>
    <div>
        <a href="/auth" class="to_auth_text">Уже есть аккаунт?</a>
    </div>
</div>
<script src="/static/js/Registration.js"></script>
</body>
{% include 'footer.html' %}
</html>
